@CHARSET "UTF-8";
body
{
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	
}
img#logo {
	/*height: 10%;*/
	float: left;
	/*width:10%;*/
}
section#header, section#footer {
	/*border: thin solid black;*/
	clear: both;
}

nav ul {
	list-style:none;
}
/*
nav ul li {
	display:inline;
	border: 1px solid #888888;
	border-radius: 5px;
	padding: 3px 3px 3px 3px;
	box-shadow: -1px -1px 5px #888888;
}
nav ul li a{
	text-decoration:none;
}

.logged-in-as a {
	float:right;
	text-decoration:none;
	border: 1px solid #888888;
	border-radius: 5px;
	padding: 3px 3px 3px 3px;
	box-shadow: -1px -1px 5px #888888;
}*/

.profile-container {
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	height:auto;
	position: relative;
	padding: 10px 10px 10px 10px; /*30px 50px 100px 30px;*/
	margin-bottom: 10px;
	/*border: 1px solid #65B524;*/
	/*border-radius: 1px;*/
	box-shadow: 1px 1px 5px #888888;
	background-color: #fff;
}

.profile-container p {
	width:60%;
}
.profile-posts {
	border-top: 1px solid #DDDDDD; /* A faint grey line below the text */
}

.profile-Badges {
	float:right;
	width:10%;
	height:auto;
	text-align:center;
	padding: 10px 3px 3px 3px; /*30px 50px 100px 30px;*/
	border: 1px solid #6fbf4d;
	border-radius: 5px;
	
}
.register {
	
}
.profile-points {
	text-align:center;
	/*box-shadow: 1px 1px 5px #ddd;
	/*border-radius: 500px;
	/*width:10%;
	height:auto;
	padding: 5px 5px 3px 5px;
	float:right;
	box-shadow: 1px 1px 1px #888888;
	background-color: #6fbf4d;
	/*background-color: #E9C2A6;*/
}

.profile-photo {
	position:relative;
	box-shadow: 1px 1px 1px #888888;
	z-index:2;
	background-color: #fff;
	border: 1px solid #888888;
	border-radius: 2px;
	width: 160px;
	height: auto;
}

.MainTitles {
	display: block;
	font-size:300%;
	color:#911762;
	text-align:center;
}

.FooterTitles {
	display: block;
	color:#911762;
	text-align:center;
	text-decoration: underline;
}
.boxer {
	display: block;
	text-align:center;
	/* Firefox
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	display:box;
	box-pack:center;
	box-align:center;*/
}
ul.mylist {
	display:block;
	list-style:none;
	margin:0;
	padding:17px 0
}
ul.mylist li{
	display:block;
	list-style:none;
	margin:0 0 7px 0
}


div#mainContent{
	/*background-color: #E1F5A9;*/
	background-image:url('pattern.png');
	background-attachment: fixed;
	border-radius: 5px;
	/*box-shadow: 5px 5px 5px grey;*/
	padding:5px;
	margin-top:4%;
}

.nav-bar li, .nav-bar, .right {
	border:none;
}

.nav-bar li:hover { 
	/*background-color:red;*/
}

div#errors ul {
	list-style:none;
}

img.social {
	display: inline-block;
	width: 22px;
	height: 22px;
	opacity: 1.0;
	filter:alpha(opacity=100);
}

img.social:hover {
	opacity: 0.6;
	filter:alpha(opacity=60);
}

div#nav {
	min-height: 78px;
	box-shadow: 0px 0px 10px 10px #DDDDDD;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 4%;
}
div#nav, div#nav * {
	font-size:large;
	background-color:#911762;
	/*background-color:#BAD8C1;*/
}

.hidden {
	display:none;
}

