@CHARSET "UTF-8";

html{
  overflow-y: scroll;
}
/* color hex
	mov : #911762;
	prasino : #65B524;
*/


img#logo {
	/* ekrive to logo
	margin-left:3%;
	margin-bottom:0px;
	margin-top:0px;*/
	height:30px;
}
section#header, section#footer {
	/*border: thin solid black;*/
	clear: both;
}

.profile-container {
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	height:auto;
	position: relative;
	padding: 10px 10px 10px 10px; /*30px 50px 100px 30px;*/
	margin-bottom: 10px;
	/*border: 1px solid #65B524;*/
	/*border-radius: 1px;*/
	box-shadow: 1px 1px 5px #888888;
	background-color: #fff;
}

.profile-container p {
	width:60%;
}
.profile-posts {
	border-top: 1px solid #DDDDDD; /* A faint grey line below the text */
}

.profile-Badges {
	float:right;
	width:10%;
	height:auto;
	text-align:center;
	padding: 10px 3px 3px 3px; /*30px 50px 100px 30px;*/
	border: 1px solid #6fbf4d;
	border-radius: 5px;
	
}

.profile-points {
	text-align:center;
	/*box-shadow: 1px 1px 5px #ddd;
	/*border-radius: 500px;
	/*width:10%;
	height:auto;
	padding: 5px 5px 3px 5px;
	float:right;
	box-shadow: 1px 1px 1px #888888;
	background-color: #6fbf4d;
	/*background-color: #E9C2A6;*/
}

.profile-photo {
	position:relative;
	box-shadow: 1px 1px 1px #888888;
	z-index:2;
	background-color: #fff;
	border: 1px solid #888888;
	border-radius: 2px;
	width: 160px;
	height: auto;
}

.MainTitles {
	display: block;
	font-size:300%;
	color:#911762;
	text-align:center;
}

.FooterTitles {
	display: block;
	color:#911762;
	text-align:center;
	text-decoration: underline;
}

ul.mylist {
	display:block;
	list-style:none;
	margin:0;
	padding:17px 0
}
ul.mylist li{
	display:block;
	list-style:none;
	margin:0 0 7px 0
}


body {
  padding-top: 60px;
}

img.links {
	width: 30px;
	}

@media (max-width: 979px) {
  	body {
    	padding-top: 0px;
  	}
	img.faces {
	max-width: 80px;
	margin: 1%;
	}
	img.links {
	width: 30px;
	}
}



div#mainContent{
	/*background-color: #E1F5A9;
	background-image:url('pattern.png');
	background-attachment: fixed;
	border-radius: 5px;
	/*box-shadow: 5px 5px 5px grey;*/
	padding:1%;
}
/* Under Construction
 =========================*/

.UnderConstructionBackground {
	margin-top:60px;
	margin-bottom:30px;
	background-image:url('tampela.png');
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-position: center center;
	height : 250;
}

.UnderContructionText {
	padding:30px 60px 30px 60px;
	text-align:center;
}
/* End Under Construction
 =========================*/

/* Sketch
 =========================*/
img.sketch {
	width:450px;
	height:450px;
	/*-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:5px 5px 10px rgba(145, 23, 98, 1);*/
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:16px;
	
	padding:1px;
	background-color:#911762;
	border:1px solid #911762;
	border:1px solid rgba(145, 23, 98, 1);
	/*-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);*/
}
.sketchText {
	margin-top: 50px;
	font-size:35.5px;
	line-height: 120%;
	letter-spacing:0.5px;
	font-weight:bold;
	color:inherit;
	text-rendering:optimizelegibility;
	color: #911762;
}
/* End Sketch
 =========================*/

/* Team Page content
=========================*/
.faceText {
	font-size:18px;
	font-weight:200;
	line-height:30px;
	color:inherit;
	}
.faceText h1{
	margin-bottom:0;
	font-size:60px;
	line-height:1;
	color:inherit;
	letter-spacing:-1px;
	}

.teamTextImage {
	margin-top: 50px;
	margin-bottom: 50px;
	width:700px;
	
}
.socialLinks {
	width:30;
}
/* End Team Page content
=========================*/

.nav-bar li, .nav-bar, .right {
	border:none;
}

.nav-bar li:hover { 
	/*background-color:red;*/
}

div#errors ul {
	list-style:none;
}

/* Social stuff
 =========================*/
img.social {
	display: inline-block;
	width: 22px;
	height: 22px;
	opacity: 1.0;
	filter:alpha(opacity=100);
}

img.social:hover {
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.socialShare {
	margin:20px;
	display:inline;
}
/* End Social stuff
 =========================*/

div#nav {
	min-height: 78px;
	box-shadow: 0px 0px 10px 10px #DDDDDD;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 4%;
}
div#nav, div#nav * {
	font-size:large;
	background-color:#911762;
	/*background-color:#BAD8C1;*/
}

.hidden {
	display:none;
}

img.faces {
	/*width: 150px;*/
	max-height:150px;
	margin: 3%;
}

img.faces2 {
	width: 100%;
	float:left;
	margin-right:3%;
}

.frame{
	padding:1%;
	/*-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;*/
	border:thin gray solid;
	border-radius: 5px;
	background-color: white;
	padding:3%;
	height: 400px;
}

div#quizContainer {
	height:40%;
}

div#quizfooter {
}

label.form-label {
	font-size: x-large;
	padding-bottom:15px;
}

div.radio label {
	padding-bottom:0;
	margin:0;
}

div.radio label input {
	font-size: large;
}

div.radio label input {
	margin-top:0;
}

div.personalSpace {
	margin-bottom:1%;
}

div.staffnames {
	display:table-cell; vertical-align:middle
}

/* Sticky Sidenav
-------------------------------------------------- */

.nav-stacked {
  width: 228px;
  margin: 80px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.nav-stacked > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.nav-stacked > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.nav-stacked> .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.nav-stacked .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.nav-stacked > li > a:hover {
  background-color: #f5f5f5;
}
.nav-stacked a:hover .icon-chevron-right {
  opacity: .5;
}
.nav-stacked .active .icon-chevron-right,
.nav-stacked .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.nav-stacked.affix {
  top: 40px;
}
.nav-stacked.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
	padding-top: 30px;
	padding-bottom: 30px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
  margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}



/* End of Sticky Sidenav
 ------------------------------------------*/

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .nav-stacked {
    width: 258px;
  }
  .nav-stacked > li > a {
    width: 230px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .nav-stacked {
    top: 0;
    width: 218px;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Adjust sidenav width */
  .nav-stacked {
    width: 166px;
    margin-top: 20px;
  }
  .nav-stacked.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Sidenav */
  .nav-stacked {
    width: auto;
    margin-bottom: 20px;
  }
  .nav-stacked.affix {
    position: static;
    width: auto;
    top: 0;
  }
  
  /* sketch */
.sketchText {
	margin-top: 20px;
}

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above sections*/
  body {
    padding-top: 0;
  }
}
